.legend-grid{
    display: flex;
    flex-wrap: wrap;
}

.cards-grid {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 20%; /* 20% width = 5 per row */
    box-sizing: border-box;
    padding: 10px;
}
.card-legend{
     flex: 1 0 20%; /* 20% width = 5 per row */
    box-sizing: border-box;
    padding: 10px;
}